@charset "UTF-8";

body {
	width: 90%;
}
table{
    width: 100%;
    border-collapse: collapse;
	font-size: 16px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 12px;
}

table th {
	background-color: #f0fff0;
}